# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Pytest cache
.pytest_cache/

# Logs
logs/
*.log

# Reports
reports/*
!reports/.gitkeep


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Environment variables
.env

# Mac/Linux temp
*.swp

# Test artifacts
screenshots/
downloads/
